<head>

<h4> <%= link_to image_tag("goodbye.jpg") %>Good bye from Mark's Famous iTunes Web Page</p></h4>
	<%= stylesheet_link_tag 'standard', :media => "all", :style => "text/css", 
	:href => "/stylesheets/hello.css" %>
	</head>
<body>
<body bgcolor="lavender">
<%= yield :layout %>
<%= link_to 'Delete all songs and actors', :controller => 'clean', :action => "destroy"%>
<p>bye bye <%=h @actor %></p>
<br></br>

<p> Would you like to go back to Display pages?
<%= link_to 'Show actors', :controller => "show", :action => "actor" %> or
<%= link_to 'Show albums', :controller => "show", :action => "album" %> or
<%= link_to 'Show songs', :controller => "show", :action => "list_song" %>
</p>


